{% extends 'base-guest.html' %}
{% load static %}
{% block extrastyles %}

<style>
    body {
        overflow: hidden;
        margin: 0;
        padding: 0;
        background-image: url("../../static/img/bg-luzerne.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: #FFFFFF;
    }

    @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      [class*="col-"] {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      h4 {
          font-size: small;
      }
    }  
    .icons {
      background-position: 0 0;
      margin: auto;
      display: block;
      text-align: center;
      font-family: "Helvetica";
    }

    #option-box {
        display: flex;
        align-items: center;
    }

    /* div #option-box {

    } */
    #option-box:hover {
        transform: scale(1.1);
        box-shadow: 0 0 5px 5px;
}
</style>

{% endblock extrastyles %}

{% block content_guest %}
<!-- <img src="../../static/img/bg-luzerne.jpeg" alt=""> -->
<div class="container" style="transform: translate(-3px, 13px);">
    <div class="row d-flex align-items-center justify-content-around" style="margin-top: 25%;">
        <div class="col-4 col-md-4">
            <a href="/self-register/visitor/" style="text-decoration: none">
                <div id="option-box" class="card text-center bg-primary text-white">
                    <div class="card-block" >             
                        <h2><i class="fa fa-street-view fa-xl"style="padding-top: 20px"></i></h2>
                    </div>
                    <div class="row px-2 no-gutters">
                        <h4 class="card-title">PUBLIC VISITOR REGISTRATION</h4>
                    </div>
                </div>
            </a>
        </div>
        <!-- <div class="col-4 col-md-4">
            <a href="/self-register/check-in/" style="text-decoration: none" class="disabled">
                <div id="option-box" class="card text-center bg-info text-white">
                    <div class="card-block" >             
                        <h2><i class="fa fa-paper-plane fa-xl"style="padding-top: 20px"></i></h2>
                    </div>
                    <div class="row px-2 no-gutters">
                        <h4 class="card-title">VISITOR CHECK IN</h4>
                    </div>
                </div>
            </a>
        </div> -->
    </div>
</div>

{% endblock content_guest %}

{% block javascripts %}

{% endblock javascripts %}