{% extends 'base2.html' %}

{% block content %}
<div class="container-fluid">
  <div class="card mt-3 mb-3">
    <div class="card-header">
      <h2>Create New {{ user_type | title }}</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 col-sm-10 col-12">
          <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ form.as_p }}
            {{ form.device }}
            <button type="submit" class="btn btn-success">Create Tenant</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}