
<form id="selfregister-staff" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row px-4 mt-4">
      {% if form.errors %}
          {% for field in form.non_field_errors %}
              <div class="col-md-4 alert alert-warning alert-dismissible fade show mb-4" id="update_alert" role="alert">
                  <strong>{{ field | escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
    </div>
    <div class="img-responsive row d-flex justify-content-center">
        <a href="#">
            <label for="id_photo"><img id='visitor-photo' src="/static/icon/avatar.png" style="border-radius: 50%; width: 180px;" class="img-responsive2 mb-2" alt="avatar"></label>
        </a>
        
      <br/>
    </div>
    {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        {% if field.id_for_label == 'id_contact_no' %}
          <label for="phone">Contact No.: </label></br>
          <input class="form-control form_input" type="tel" id="phone" placeholder="12345678" required>
          <input type="hidden" name="country" id="country" value="">
          {{ form.contact_no }}
          <div>
            <span id="valid-msg" class="hide"></span>
            <span id="error-msg" class="hide text-danger small py-1"></span>
          </div>
        {% elif field.id_for_label == 'id_identification_no' %}
          <label for="id_identification_no">NRIC (e.g: last 3 digits and an alphabet): </label></br>
          {{ form.identification_no }}
          <div>
            <p><span id="valid-nric" class="hide small text-success py-1"></span></p>
            <p><span id="error-nric" class="hide small text-danger py-1"></span></p>
          </div>
        {% elif field.id_for_label == 'id_photo' %}
          <label for="id_photo">Face Picture. Take your best possible selfie [Optional]: </label></br>
          <input type="hidden" id="photo2" name="photo2" value="" >
          {{ form.photo }}
          <div>
            <p><span id="staff-valid-photo" class="hide small text-success py-1"></span></p>
            <p><span id="staff-error-photo" class="hide small text-danger py-1"></span></p>
          </div> 
        {% else %}
        <label for="{{ field.id_for_label }}">{{ field.label }}: </label>
        {{field}}
        {% endif %}
        {% for error in field.errors %}
          <p class="help-block text-danger">{{ error }}</p>
        {% endfor %}
        {% for nfe in field.non_field_errors %}
          <p class="help-block text-danger">{{ nfe }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    {% comment %} {{ form.as_p }} {% endcomment %}

    <input id="submit" type="submit" class="btn btn-info btn-sm" value="Submit Registration"></input>

</form>

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/vendor/intl-tel-input-17.0.0/build/js/intlTelInput.js"></script>
<script src="/static/js/heic2any.js"></script>
<script>

    $.fn.noMask = function(regex) { 
        this.on("keypress", function(e) {
            if (regex.test(String.fromCharCode(e.which))) {
                return false;
            }
        });
    }
    
    $("input[type=tel]").noMask( /[a-zA-Z]/ );

    var input = document.querySelector("#phone");
    var country = document.querySelector("#country");
    var errorMsg = document.querySelector("#error-msg");
    var validMsg = document.querySelector("#valid-msg");
  
    // phone number validation
    var errorMap = ["Invalid number", "Invalid country code", "Phone no. is too short", "Phone no. is too long", "Invalid number", "Invalid"];
  
    // Initialise phone number
    window.intlTelInput(input, {
        preferredCountries: ["sg", "my"],
        separateDialCode: true,
        utilsScript: "/static/js/vendor/intl-tel-input-17.0.0/build/js/utils.js"
    });
  
    var iti = window.intlTelInputGlobals.getInstance(input);
  
    var resetMobile = function() {
        input.classList.remove("error");
        errorMsg.innerHTML = "";
        validMsg.innerHTML = "";
        errorMsg.classList.add("hide");
        validMsg.classList.add("hide");
    };

    // set it's initial value
    country.value = iti.getSelectedCountryData().dialCode;

    input.addEventListener("countrychange", function(e) {
        var code = iti.getSelectedCountryData().dialCode;
        country.value = code;
    });

    // on blur: validate
    input.addEventListener('blur', function() {
        resetMobile();

        let code_len = country.value.length;
        let subst = input.value.trim().substring(0,1);

        if (subst == '0') {
            let update_input = input.value.trim().split(input.value.trim().substring(0,1));
            input.value = update_input[1];
            document.getElementById('id_contact_no').value = '+' + country.value + input.value;

        } else if ( subst == '+') {

            if (code_len == 2) {
                let update_input = input.value.trim().split(input.value.trim().substring(0,3));
                input.value = update_input[1];
                document.getElementById('id_contact_no').value = '+' + country.value + input.value;

            } else if ( code_len == 3) {
                let update_input = input.value.trim().split(input.value.trim().substring(0,4));
                input.value = update_input[1];
                document.getElementById('id_contact_no').value = '+' + country.value + input.value;

            }else {
                document.getElementById('id_contact_no').value = '+' + country.value + input.value;
            }
        } else {
            $('input[name=contact_no]').val('+' + country.value + input.value.trim());
        }

        if (input.value.trim()) {
            if (iti.isValidNumber()) {
                validMsg.classList.remove("hide");
                $('#submit').show('slow');
            } else {
                input.classList.add("error");
                var errorCode = iti.getValidationError();

                if (errorCode == -99) {
                    errorMsg.innerHTML = errorMap[5];
                    errorMsg.classList.remove("hide");
                    $('#submit').hide('slow');
                } else {
                    errorMsg.innerHTML = errorMap[errorCode];
                    errorMsg.classList.remove("hide");
                    $('#submit').hide('slow');
                }
            }
        }
    });

    // on keyup / change flag: reset
    input.addEventListener('change', resetMobile);
    input.addEventListener('keyup', resetMobile);

    var errorPhoto = document.querySelector("#staff-error-photo");
    var validPhoto = document.querySelector("#staff-valid-photo");
    var name_input = document.getElementById('id_name');
    // var identification_no_input = document.getElementById('id_identification_no');
    var contact_no_input = document.getElementById('phone');
    var email_input = document.getElementById('id_email');
    var remarks_input = document.getElementById('id_remarks');

    function forceInputUppercase(e)
    {
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.toUpperCase();
        e.target.setSelectionRange(start, end);
    }

    // identification_no_input.addEventListener('keyup', forceInputUppercase, false);

    var resetPhotoValidation = function() {
        $('#visitor-photo').attr('src', "/static/icon/avatar.png");
        errorPhoto.innerHTML = "";
        validPhoto.innerHTML = "";
        errorPhoto.classList.add("hide");
        validPhoto.classList.add("hide");

        name_input.setAttribute("readonly", "true");
        // identification_no_input.setAttribute("readonly", "true");
        contact_no_input.setAttribute("readonly", "true");
        email_input.setAttribute("readonly", "true");
        remarks_input.setAttribute("readonly", "true");
    };

    $(document).ready(function () { //document ready call
      $("#id_photo").change(function(){
          console.log('photo uploaded');
          resetPhotoValidation();
          convertHeicToJpg(this);
        //   resetPhotoValidation();
        //   preview_image(this);
      });
    });

    var tenant_id;
    var pathArray = window.location.pathname.split('/');

    console.log(pathArray)
    tenant_id = pathArray[3] ? pathArray[3] : null

    function preview_image(input) 
    {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#visitor-photo').attr('src', e.target.result);

                var photo_input = e.target.result;
                var btn = document.getElementById('submit');

                // run check face with fra main
                $.ajax({
                    headers: { "X-CSRFToken": getCookie('csrftoken') },
                    url : '/self-register/fra-photo-validation/',
                    method : "POST",
                    data: { 'isStaffReg': 1, 'type': 'webcam', 'tenant_id': tenant_id,'photo': photo_input},
                    success : function(response) {
                        var btn = document.getElementById('submit');

                        if (response.error) {
                            errorPhoto.innerHTML = response.msg;
                            name_input.setAttribute("readonly", "true");
                            // identification_no_input.setAttribute("readonly", "true");
                            contact_no_input.setAttribute("readonly", "true");
                            email_input.setAttribute("readonly", "true");
                            remarks_input.setAttribute("readonly", "true");
                            btn.setAttribute("disabled", true);
                        } else {
                            let imgSource = `file:///${response.imgSrc}`;
                            // var newImage = response.photo;
                            // $('#visitor-photo').attr('src', newImage);
                            
                            // Append new image to file input
                            // var new_photo_input = document.getElementById('id_photo');
                            // const dataTransfer = new DataTransfer()
                            // const file = new File([imgSource], response.filename, { type: 'image/jpg' })
                            // dataTransfer.items.add(file// 
                            // new_photo_input.files = dataTransfer.files;
                            $('#photo2').val(e.target.result);
                            
                            validPhoto.innerHTML = response.msg;
                            name_input.removeAttribute("readonly", "false");
                            // identification_no_input.removeAttribute("readonly", "false");
                            contact_no_input.removeAttribute("readonly", "false");
                            email_input.removeAttribute("readonly", "false");
                            remarks_input.removeAttribute("readonly", "false");
                            btn.removeAttribute("disabled", false);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        swal.fire("!Opps ", "Something went wrong. Try Again. Thank you.", "error");
                    }
                })
            }
            var photoData = reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    function convertHeicToJpg(input)
    {
        var fileName = $(input).val();
        var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);

        if(fileNameExt == "HEIC" || fileNameExt == "heic") {
            console.log('heic detected');
            var blob = $(input)[0].files[0]; //ev.target.files[0];
            heic2any({
                blob: blob,
                toType: "image/jpg",
            })
            .then(function (resultBlob) {

                var url = URL.createObjectURL(resultBlob);
                $('#visitor-photo').attr('src', url);
                //adding converted picture to the original <input type="file">
                let fileInputElement = $(input)[0];
                let container = new DataTransfer();
                let file = new File([resultBlob], "heic"+".jpg",{type:"image/jpeg", lastModified:new Date().getTime()});
                container.items.add(file);

                fileInputElement.files = container.files;
                console.log("added");

                var photoInput = document.getElementById('id_photo');

                preview_image(photoInput);
            })
            .catch(function (x) {
                console.log(x.code);
                console.log(x.message);
            });
        } else {
            preview_image(input);
        }
    }

    var nric = document.querySelector("#id_identification_no");
    var errorNRIC = document.querySelector("#error-nric");
    var validNRIC = document.querySelector("#valid-nric");

    var resetNric = function() {
        errorNRIC.innerHTML = "";
        validNRIC.innerHTML = "";
        errorNRIC.classList.add("hide");
        validNRIC.classList.add("hide");
    };

    $(document).ready(function () {

        $('#id_identification_no').change(function(e) {
            resetNric();

            if (this.value !== '') {

                $.ajax({
                    headers: { "X-CSRFToken": getCookie('csrftoken') },
                    url : '/self-register/validate-nric/',
                    method : "POST",
                    data: {
                        'nric': this.value,
                    },
                    success : function(data) {

                        if (data.valid) {
                            validNRIC.innerHTML = data.message;
                            $('#submit').show('slow');
                        } else {
                            errorNRIC.innerHTML = data.message;
                            $('#submit').hide('slow');

                        }
                    },
                    error : function(response) {
                        console.log(response)
                    },
                    cache: false,
                });
            }
        })

        // nric.addEventListener('change', resetNric);
        nric.addEventListener('keyup', resetNric);
    });
  
  </script>

{% endblock javascripts %}