{% extends 'base-guest.html' %}

{% block extrastyles %}

<style>
    .iti {
        display: inherit;
    }

    .iti .error {
        font-size: small;
        width: 100%;
    }
</style>

{% endblock extrastyles %}

{% block content_guest %}

<div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
            <div class="card-header">
                <h4 class="m-0 font-weight-bold text-primary">Staff Registration</h4>
            </div>
            <div class="card-body">
                {% include 'staffs/staff_form.html' %}
            </div>
        </div>
        
    </div>
</div>

{% endblock content_guest %}

{% block javascripts %}



{% endblock javascripts %}