{% load cms %}
{% if visitor_list %}
  {% if visitor_list %}
    {% for visitor in visitor_list %}
    <tr>
      {% comment %} <td style="text-align: center;">{{ obj.pk }}</td> {% endcomment %}
      <td style="text-align: center;">{{ forloop.counter }}</td>
      <td>{{ visitor.name }}</td>
      <td>{{ visitor.created_at|date:"d-M-y, h:i:s a" }}</td>
      {% comment %} <td>{{ visitor.remarks|default_if_none:"-" }}</td> {% endcomment %}

      {% if visitor_list %}
        <td>{{ visitor.start_date|date:"d-M-y, h:i:s a" }}</td>
        <td>{{ visitor.end_date|date:"d-M-y, h:i:s a" }}</td>
      {% endif %}
      

      {% if visitor_list %}
        {% if visitor.is_checkin %}
          <td style="text-align: center;">YES</td>
        {% else %}
          <td style="text-align: center;">No</td>
        {% endif %}
      {% endif %}

      {% if visitor_list %}
        {% if visitor.is_checkin %}
          <td>{{ visitor.updated_at | date:"d-M-y, h:i:s a" }}</td>
        {% else %}
          <td>-</td>
        {% endif %}
      {% endif %}

      <td style="text-align: center;">
        {% if visitor.is_approved == 1 %}
        <a href="{% get_url 'approval' visitor %}" class="btn btn-info btn-sm approval" data-toggle="tooltip" data-placement="top" title="Proceed to Approve/Disapprove" onclick="handleApproval(event, '{{ visitor.pk }}', '{{ visitor.name }}'); return false;">
          Pending &nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
          </svg>
        </a>
        {% elif visitor.is_approved == 2 %}
        <a href="" class="btn btn-success btn-sm" onclick="return false;">
          Approved &nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-check" viewBox="0 0 16 16">
            <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
            <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          </svg>
        </a>
        {% elif visitor.is_approved == 3 %}
        <a href="" class="btn btn-danger btn-sm" onclick="return false;">
          Rejected &nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation" viewBox="0 0 16 16">
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
          </svg>
        </a>
        {% else %}
        <a href="" class="btn btn-secondary btn-sm" onclick="return false;">
          Blocked &nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
        </a>
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% comment %} <a href="{% get_url 'update' obj %}" class="btn btn-secondary btn-circle btn-sm js-load-form">
          <i class="fas fa-edit text-white-100"></i>
        </a> {% endcomment %}
        <a href="{% get_url 'detail' visitor %}" class="btn btn-info btn-icon-split btn-sm js-load-form">
          <span class="icon text-white-300 text-xs">
            <i class="fas fa-info-circle"></i>
          </span>
          <span class="text text-xs">View</span>
        </a>
        <a href="{% get_url 'delete' visitor %}" class="btn btn-danger btn-circle btn-sm js-load-form">
          <i class="fas fa-trash text-white-100"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  {% else %}
  <tr>
    <td colspan="9" style="text-align: center;">No available list</td>
  </tr>
  {% endif %}
{% elif staff_list %}

  {% if staff_list %}

    {% for staff in staff_list  %}
      <!-- Obj loop -->
      <tr>
        {% comment %} <td style="text-align: center;">{{ obj.pk }}</td> {% endcomment %}
        <td style="text-align: center;">{{ forloop.counter }}</td>
        <td>{{ staff.tenant.company_name }}</td>
        <td>{{ staff.employee_no|default_if_none:"-" }}</td>
        <td>{{ staff.name }}</td>
        <td>{{ staff.contact_no }}</td>
        <td>{{ staff.email }}</td>
        {% comment %} <td>{{ staff.remarks|default_if_none:"-" }}</td> {% endcomment %}
        <td>{{ staff.created_at|date:"d-M-y, h:i:s a" }}</td>
        <td style="text-align: center;">
          {% if staff.is_approved == 1 %}
          <a href="{% get_url 'approval' staff %}" class="btn btn-info btn-sm approval" data-toggle="tooltip" data-placement="top" title="Proceed to Approve/Disapprove" onclick="handleApproval(event, '{{ staff.pk }}', '{{ staff.name }}'); return false;">
            Pending &nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
          </a>
          {% elif staff.is_approved == 2 %}
          <a href="" class="btn btn-success btn-sm" onclick="return false;">
            Approved &nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-check" viewBox="0 0 16 16">
              <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
              <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
          </a>
          {% elif staff.is_approved == 3 %}
          <a href="" class="btn btn-danger btn-sm" onclick="return false;">
            Rejected &nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation" viewBox="0 0 16 16">
              <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
            </svg>
          </a>
          {% else %}
          <a href="" class="btn btn-secondary btn-sm" onclick="return false;">
            Blocked &nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
          </a>
          {% endif %}
        </td>
        <td style="text-align: center;">
          {% comment %} <a href="{% get_url 'update' staff %}" class="btn btn-secondary btn-circle btn-sm js-load-form">
            <i class="fas fa-edit text-white-100"></i>
          </a> {% endcomment %}
          <a href="{% get_url 'detail' staff %}" class="btn btn-info btn-icon-split btn-sm js-load-form">
            <span class="icon text-white-300 text-xs">
              <i class="fas fa-info-circle"></i>
            </span>
            <span class="text text-xs">View</span>
          </a>
          <a href="{% get_url 'delete' staff %}" class="btn btn-danger btn-circle btn-sm js-load-form">
            <i class="fas fa-trash text-white-100"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
  {% else %}
  <tr>
    <td colspan="8" style="text-align: center;">No available list</td>
  </tr>
  {% endif %}

{% else %}
    

{% endif %}

<script>
  {% if staff_list %}
  function handleApproval(e, id, obj) {
    e.preventDefault();

    // const { value: employeeNo } = await Swal.fire({
    //   title: 'Selection: '+ obj +'?',
    //   input: 'text',
    //   inputLabel: 'Update Employee No. (must be unique)',
    //   showCancelButton: true,
    //   // inputPlaceholder: 'Enter the Employee No.',
    //   inputValidator: (value) => {
    //     if (!value || value == '') {
    //       return 'Kindly update the employee no.'
    //     }

    //     var invalid = ['%', '&', '<', '>', '[', ']', '{', '}', '!', '@', '#', '$', '^', '*', '(', ')', '?'],
    //     validate = value;
    //     if (/[%&<>\[\]{}!@#$^*()?]/.test(validate)) {
    //         console.log("Yeah, these characters ('" + invalid.join(', ') + "') aren't allowed. So stop it.");
    //         return "Illegal character input. You may only use digits & alphabet only."
    //     }
    //   }
    // })
    
    // if (employeeNo) {
      Swal.fire({  
        title: `Name: ${obj}`, 
        input: 'text',
        inputLabel: 'Update Employee No. (must be unique)',
        text: `Confirmed staff approval?`, 
        showDenyButton: true,  
        showCancelButton: true,
        confirmButtonText: `Approve`,  
        denyButtonText: `Not Approved`,
      },
        function(inputValue) {
          throw alert(inputValue);
          if (inputValue === null) return false;
  
          if (inputValue === "") {
            swal.showInputError("You need to write something!");
            return false;
          }
          console.log(inputValue);
        }
      ).then((result) => {  
        /* Read more about isConfirmed, isDenied below */  
          if (result.isConfirmed) {
            if (result.value) {
              const employeeNo = result.value;
            
              url = $('.approval').attr("href");
              var csrf_token = getCookie('csrftoken')
              $.ajax({
                headers: { "X-CSRFToken": csrf_token },
                url : url,
                type: 'POST',
                data: {pk: 2, employeeNo: employeeNo}, // Approve
                beforeSend: function() {
                  swal.fire({
                      title: 'Please Wait..!',
                      text: 'Email on progress..',
                      onOpen: function() {
                          swal.showLoading()
                      }
                  })
                },
                success : function(data) { 
                    const Toast = Swal.mixin({
                      toast: true,
                      position: 'top-end',
                      showConfirmButton: false,
                      timer: 2500,
                      timerProgressBar: true,
                      didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                      }
                    })
                    
                    Toast.fire({
                      icon: 'success',
                      title: 'Approval Status Change'
                    })
                    
                    setTimeout(() => {
                      location.reload();
                    }, 2300)
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    swal.fire("!Opps ", "Something went wrong, try again later", "error");
                }
              });
              
            } else {
              alert("Kindly provide update for employee no if you want to approve the registration");
            }
            
          } else if (result.isDenied) {  
            url = $('.approval').attr("href");
            var csrf_token = getCookie('csrftoken')
            $.ajax({
              headers: { "X-CSRFToken": csrf_token },
              url : url,
              type: 'POST',
              data: {pk: 3}, // Rejected
              beforeSend: function() {
                swal.fire({
                    title: 'Please Wait..!',
                    text: 'Email on progress..',
                    onOpen: function() {
                      swal.showLoading();
                    }
                })
              },
              success : function(data) { 
                const Toast = Swal.mixin({
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 2500,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                  }
                })
                
                Toast.fire({
                  icon: 'success',
                  title: 'Approval Status Change'
                })
                
                setTimeout(() => {
                  location.reload();
                }, 2300)
              },
              error: function(jqXHR, textStatus, errorThrown) {
                  swal.fire("!Opps ", "Something went wrong, try again later", "error");
              }
            })
          }
      });
    // }
  }
  {% elif visitor_list %}
  function handleApproval(e, id, obj) {
    e.preventDefault();
    
    Swal.fire({  
      title: 'Selection: '+ obj +'?', 
      text: `Confirmed visitor approval?`, 
      showDenyButton: true,  
      showCancelButton: true,  
      confirmButtonText: `Approve`,  
      denyButtonText: `Not Approved`,
    }).then((result) => {  
      /* Read more about isConfirmed, isDenied below */  
        if (result.isConfirmed) {
          url = $('.approval').attr("href");
          var csrf_token = getCookie('csrftoken')
          $.ajax({
            headers: { "X-CSRFToken": csrf_token },
            url : url,
            type: 'POST',
            data: {pk: 2}, // Approve
            beforeSend: function() {
              swal.fire({
                  title: 'Please Wait..!',
                  text: 'Email on progress..',
                  onOpen: function() {
                    swal.showLoading()
                  }
              })
            },
            success : function(data) { 
                
                location.reload();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                swal.fire("!Opps ", "Something went wrong, try again later", "error");
            }
          })
        } else if (result.isDenied) {  
          url = $('.approval').attr("href");
          var csrf_token = getCookie('csrftoken')
          $.ajax({
            headers: { "X-CSRFToken": csrf_token },
            url : url,
            type: 'POST',
            data: {pk: 3}, // Rejected
            beforeSend: function() {
              swal.fire({
                  title: 'Please Wait..!',
                  text: 'Email on progress..',
                  onOpen: function() {
                    swal.showLoading()
                  }
              })
            },
            success : function(data) { 
                location.reload();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                swal.fire("!Opps ", "Something went wrong, try again later", "error");
            }
          })
        }
    });
  }


  {% endif %}
</script>