{% extends 'base2.html' %}

{% block content_guest %}

<div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
            <div class="card-header">
                <h4 class="m-0 font-weight-bold text-primary">Visitor Update Registration - Done</h4>
            </div>
            <div class="card-body">
                <p>
                    Success update your registration. You may proceed to proceed to the unit.
                </p>
                <p>Thank you.</p>
            </div>
        </div>
        
    </div>
</div>

{% endblock content_guest %}